<div class="mb-4">
  <div class="card shadow-sm overflow-hidden">
    <div class="row g-0">
      <!-- Image -->
      <div class="col-4">
        <img src=""
             alt="Post image"
             width="300"
             height="200"
             class="img-fluid object-fit-cover bg-light" />
      </div>
      <!-- Content -->
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title fw-bold mb-1">{{ post.post_title|title }}</h5>
          <p class="card-text text-body mb-1">{{ post.post_content|truncatewords:5 }}</p>
          <p class="card-text text-muted small mb-3">{{ post.published_data }}</p>
          <a href="{% url 'post' post.id %}" class="btn btn-dark btn-sm">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
